DB_BACKEND=mysql

MYSQL_ROOT_PASSWORD=replace_with_a_strong_root_password
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_USER=you_where
MYSQL_PASSWORD=replace_with_a_strong_app_password
MYSQL_DB=you_where
MYSQL_POOL_SIZE=10
MYSQL_MAX_OVERFLOW=20

HTTP_PORT=18080
HTTPS_PORT=18443
PIP_INDEX_URL=https://mirrors.aliyun.com/pypi/simple/

WECHAT_APP_ID=
WECHAT_APP_SECRET=
WECHAT_REMINDER_TEMPLATE_ID=

STORE_ENABLE_NETWORK=0
ENABLE_TEST_USERS=0
SEED_TEST_USERS=0
